div.container
  div.row.show-grid
    div.span6.offset3
      h1 Nodejs API Search
  div.row.show-grid
    div.span6.offset3
        <input id='searchinput' class='span6' type='text' data-provide='typeahead' placeholder='请输入' autocomplete='off' />
  div.row.show-grid
    div.span6.offset3
        #result


script(src='/bootstrap/js/bootstrap-typeahead.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/client.js', type='text/javascript', charset='utf-8')
