div.container
  div.row.show-grid
    div.span6.offset3.title
      h1 Nodejs API
  div.row.show-grid
    div.span6.offset3
        <input id='searchinput' class='span6' type='text' data-provide='typeahead' placeholder='type whatever u like' autocomplete='off' />
  div.row.show-grid
    div.span6.offset3
      #api-signatures
      #api-desc

  a(href='https://github.com/lizhepro')
    img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='Fork me on github')

link(rel='stylesheet', href='/google-code-prettify/prettify.css')
script(src='/bootstrap/js/bootstrap-typeahead.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/client.js', type='text/javascript', charset='utf-8')
script(src='/google-code-prettify/prettify.js', type='text/javascript', charset='utf-8')
