body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d2d8ba !important;
}
.title {
  text-align: center;
}
#searchinput,
.typeahead {
  font-family: 'Courier New', courier, monospace;
}
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
#result {
  font-family: Georgia, FreeSerif, Times, serif;
  font-size: 18px;
  line-height: 24px;
}
