body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#searchinput {
  font-family: 'Courier New', courier, monospace;
}
.typeahead {
  font-family: 'Courier New', courier, monospace;
}
