$font = 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif

body
  padding: 50px
  font-family: $font
.title
  text-align: center
  font-family: $font
#searchinput, .typeahead
  font-family: 'Courier New', courier, monospace
.show-grid
  margin-top: 10px
  margin-bottom: 20px
#api-desc
  font-family: $font
  font-size: 16px
  line-height: 24px
#api-signatures h3
  margin: 20px 0 5px 0
#api-signatures ul
  margin-bottom: 15px
#api-signatures li, #api-signatures p
  font-family: $font
  font-size: 16px
  line-height: 22px
p
  text-rendering: optimizeLegibility;
#api-signatures p
  margin-bottom: 30px
.dropdown-type
  margin-right: 8px
h3
  font-family: $font
