.main {
  margin: 0 auto;
  width: 960px;
}
body {
  padding: 40px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
.title {
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
.show-grid {
  margin: 20px;
}
.search {
  text-align: center;
}
#searchinput {
  height: 26px;
  width: 570px;
}
.content,
.feedback {
  width: 580px;
  margin: 0 auto;
}
#api-desc {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  line-height: 24px;
}
#api-signatures h3 {
  margin: 20px 0 5px 0;
}
#api-signatures ul {
  margin-bottom: 15px;
}
#api-signatures li,
#api-signatures p {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  line-height: 22px;
}
#api-signatures p {
  margin-bottom: 30px;
}
p {
  text-rendering: optimizeLegibility;
}
.dropdown-type {
  margin-right: 8px;
  height: 26px;
  line-height: 26px;
}
h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
.dropdown-menu li a {
  height: 26px;
  line-height: 26px;
}
#class-navigation {
  position: absolute;
  left: 0;
  top: 20px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
}
#class-navigation:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
#navigation-content {
  height: auto;
  min-width: 60px;
}
#navigation-content li a {
  color: #9c9494;
}
.active {
  font-weight: bold;
}
