body
  padding-top: 60px
  padding-bottom: 40px
.dropdown-type
  margin-right: 8px
  height: 30px
.dropdown-menu li > a
  line-height: 30px
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
  color: #F70203 !important
.mouse
  cursor: pointer
